body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

/* ---------------------------------------------------- BEGIN COMMON STYLE ------------------------------------------------ */
.common-style {
  padding: 20px;
  text-align: left;
}

.common-style h2 strong {
  font-weight: bold;
  margin: 0;
}

.common-style hr {
  border-top: 2px solid #333;
  padding: 20px
  margin: 0;
}

/* ---------------------------------------------------- END COMMON STYLE ------------------------------------------------ */

/* ---------------------------------------------------- BEGIN HEADER ------------------------------------------------ */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px;
}

.header .logotipo h2 {
  background-color: #95A5A6;
  color: #000;
  padding: 5px;
}

.logo img {
  max-height: 40px; /* Ajuste a altura conforme necessário */
}

.header .header-right a {
  text-decoration: none;
  color: #000;
  margin-left: 10px; /* Espaço entre os links */
}
/* --------------------------------------------------- END HEADER --------------------------------------------------- */

/* ------------------------------------------------- BEGIN HIGHLIGHT ------------------------------------------------ */

.carousel-indicators {
  position: relative;
  bottom: 0;
  margin-top: 20px;
}

.carousel-indicators button {
  border-radius: 0%;
  width: 6px;
  height: 6px;
  padding: 4px;
  position: relative;
  bottom: 0;
  margin-top: 20px;
}

.carousel-indicators button.active {
  background-color: #000;
}

.slide-placeholder {
  background-color: #ccc; /* Cor de fundo cinza sólido */
  width: 100%;
  height: 300px; /* Altura do espaço reservado */
}

/* ------------------------------------------------- END HIGHLIGHT ------------------------------------------------ */

/* ------------------------------------------------- BEGIN ALBUM GRID ------------------------------------------------ */

.albums-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.album {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.album img {
  max-width: 100%;
  height: auto;
}

.album h3 {
  font-size: 20px;
  margin: 10px 0;
}

.album p {
  font-size: 14px;
  margin: 10px 0;
}

.album a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  transition: color 0.3s;
}

.album a:hover {
  color: #0056b3;
}

.album.horizontal {
  grid-column: span 2;
  grid-row: span 1;
}

.album.vertical {
  grid-column: span 1;
  grid-row: span 2;
}

#grid {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
grid-gap: 5px;
}

/* ------------------------------------------------- END ALBUM GRID ------------------------------------------------ */

/* ------------------------------------------------- BEGIN MAP ------------------------------------------------ */

#map {
  height: 400px;
  margin-top: 20px;
}

/* ------------------------------------------------- END MAP ------------------------------------------------ */

/* ------------------------------------------------- BEGIN FOOTER ------------------------------------------------ */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
}

.footer-section h3 {
  font-size: 18px;
}

.footer-section hr {
  border-top: 2px solid #fff;
}

.author-info {
  display: flex;
  align-items: center;
}

.author-info img {
  max-width: 50px;
  height: auto;
  border-radius: 50%;
  margin-right: 10px;
}

.author-details p {
  margin: 0;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

/* ------------------------------------------------- END FOOTER ------------------------------------------------ */

/* ------------------------------------------------- BEGIN ALBUM DETAILS ------------------------------------------------ */

.album-content {
  display: flex; /* Use flexbox para alinhar os elementos lado a lado */
  align-items: center;
}

.album-content .image {
  max-width: 100%;
  margin-right: 20px;
  padding: 10px;
}

.album-content .description {
  font-size: 16px;
  flex: 1; /* A descrição ocupa o espaço restante no contêiner flexível */
}

/* ------------------------------------------------- END ALBUM DETAILS ------------------------------------------------ */

/* ------------------------------------------------- BEGIN POPUP ------------------------------------------------ */
#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}
.popup-launcher {
  cursor: pointer;
  display: inline-block;
}

/* ------------------------------------------------- END POPUP ------------------------------------------------ */
